<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21611082450-aktm4sto8bi2tnb1lo5qn4hid75m0k2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21611082450-aktm4sto8bi2tnb1lo5qn4hid75m0k2v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>21611082450-ovufbqe8bg314091c625h7akadvsbr8s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3cAeSS5-uCRYA9vtvPWBmdz6eA5uJapQ</string>
	<key>GCM_SENDER_ID</key>
	<string>21611082450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.one-point.customer</string>
	<key>PROJECT_ID</key>
	<string>customer-1point</string>
	<key>STORAGE_BUCKET</key>
	<string>customer-1point.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21611082450:ios:c23097171753df40c5f30b</string>
</dict>
</plist>